# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Test Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db